<h2 mat-dialog-title>{{data.person == null ? "Добавить запись" : "Изменить запись"}}</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <mat-form-field  appearance="fill">
      <mat-label>Имя</mat-label>
      <input required matInput [formControl]="firstNameControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input required matInput [formControl]="lastNameControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Отчество</mat-label>
      <input required matInput [formControl]="middleNameControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Должность</mat-label>
      <input required matInput [formControl]="positionControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Структурное подразделение</mat-label>
      <mat-select [formControl]="selectedStructuralSubdivision">
        <mat-option value="{{ keys.HEAD }}">{{keys.HEAD|StructuralSubdivision}}</mat-option>
        <mat-option value="{{ keys.SUB_HEAD }}">{{keys.SUB_HEAD|StructuralSubdivision}}</mat-option>
        <mat-option value="{{ keys.WORKER }}">{{keys.WORKER|StructuralSubdivision}}</mat-option>
      </mat-select>
    </mat-form-field>

    Служебный номер
    <div class="input requireds" *ngFor="let serviceNumbersControl of serviceNumbersControls;let i= index">
      <mat-form-field appearance="fill">
        <mat-label>Служебный номер</mat-label>
        <input required matInput [formControl]="serviceNumbersControl">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="removeServiceNumber(i)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-icon-button (click)="addServiceNumbersControl()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    Личный номер телефона
    <mat-form-field *ngFor="let personalNumbersControl of personalNumbersControls;let i= index" appearance="fill">
      <mat-label> Личный номер телефона</mat-label>
      <input required matInput [formControl]="personalNumbersControl">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="removePersonalNumber(i)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button (click)="addPersonalNumbersControl()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    Служебный мобильный номер телефона
    <mat-form-field *ngFor="let serviceMobileNumbersControl of serviceMobileNumbersControls;let i= index"
                    appearance="fill">
      <mat-label> Служебный мобильный номер телефона</mat-label>
      <input required matInput [formControl]="serviceMobileNumbersControl">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="removeServiceMobileNumber(i)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-icon-button (click)="addServiceMobileNumbersControl()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="updateUser()"> confirm</button>
  <button mat-button [mat-dialog-close]="true">Cancel</button>
</mat-dialog-actions>
